/* Global styles */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
.section-title {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title i {
    font-size: 24px; /* Adjust the icon size as needed */
    margin-right: 5px;
}

h1 {
    background-color: #0074d9;
    color: #fff;
    padding: 10px;
    margin: 0;
}

/* Styling for each converter section */
.converter-mass,
.converter-volume,
.converter-pressure,
.converter-length,
.converter-area,
.converter-radioactivity {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 14px;
    width: 300px;
    margin: 20px;
    display: inline-block;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}


/* On hover, apply a subtle scale effect */
.converter-mass:hover,
.converter-volume:hover,
.converter-pressure:hover,
.converter-length:hover,
.converter-area:hover,
.converter-radioactivity:hover {
    transform: scale(1.03);
}

/* Styling for input and select elements */
input,
select {
    padding: 5px; /* Adjust padding for even spacing */
    width: 100%; /* Adjust the input and select width for responsiveness */
    font-size: 16px;
    margin-bottom: 10px; /* Adjust margin for spacing between elements */
}

/* Styling for buttons */
button {
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    padding: 12px;
    margin-top: 15px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Styling for result displays */
#resultMass,
#resultVolume,
#resultPressure,
#resultLength,
#resultArea,
#resultRadioactivity {
    margin: 15px 0;
    font-weight: bold;
    font-size: 20px;
}

/* Add animation to the converter boxes */
.converter-mass,
.converter-volume,
.converter-pressure,
.converter-length,
.converter-area,
.converter-radioactivity {
    animation: slideIn 0.5s ease-in-out;
}


@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Định dạng thẻ "About" */
.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
}

/* Định dạng thẻ "About" link */
.about-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}


.about-link:hover {
    color: #ff5733;
}

/* CSS cho phần footer và biểu tượng xã hội */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #007bff;
}

